*.o
*.a
/kw
/test/test_rng
/test/test_sha2
/test/test_ripemd160
/test/test_hmac
/test/test_pbkdf2
/test/test_base58
/test/test_ec
/test/test_bip32
/test/test_bip39
/test/test_address
/test/test_aead
/test/test_argon2
/test/test_keystore
/test/test_tx
/test/test_proto
/test/test_msg
/test/test_peer
/test/test_socks5
/test/net_handshake
/net_handshake
/test/test_headers
/test/test_sync
/net_sync
/net_spv
/net_cf
/test/test_siphash
/test/test_utxo
/test/test_spv
/test/test_gcs
/test/test_cf
/test/test_cfstore
/kw
/kwd
